* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 80%;
    color: #021732;
    background-color: white;
    padding-top: 5vh;
    padding-bottom: 3vh;
    position: fixed;
    left: 10%;
    top: 0vh;
    z-index: 10;
}

header h1, 
header img {
    padding-right: 1vw;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.container {
    width: 70%;
    margin: 15vh auto;
}

ul{
    font-size: 0;
    text-align: center;
    width: 100%;
}

li {
    font-size: 0vh;
    list-style-type: none;
    display: inline-block;
    width: calc(100% / 3 - 2vw);
}

li.center {
    margin-left: 1vw;
    margin-right: 1vw;
}

article {
    position: relative;
}

article img {
    width: 100%;
}

article:hover .preferiti {
    color: red;
}

article:hover #img1{
    cursor: pointer;
    content: url('../img/1b.webp');
    width: 100%;
}

article:hover #img2{
    cursor: pointer;
    content: url('../img/2b.webp');
    width: 100%;
}

article:hover #img3{
    cursor: pointer;
    content: url('../img/3b.webp');
    width: 100%;
}

article:hover #img4{
    cursor: pointer;
    content: url('../img/4b.webp');
    width: 100%;
}

article:hover #img5{
    cursor: pointer;
    content: url('../img/5b.webp');
    width: 100%;
}

article:hover #img6{
    cursor: pointer;
    content: url('../img/6b.webp');
    width: 100%;
}

.infos {
    color: white;
    font-size: 0;
    font-weight: 700;
    position: absolute;
    left: 0vw;
    bottom: 2vh;
}

.infos .inline-block {
    display: inline-block;
}

.discount {
    background-color: #eb0239;
    font-size: 1vh;
    padding: 0.5vh;
    margin-right: 0.5vh;
}

.type-dress {
    background-color: #00875a;
    font-size: 1vh;
    padding: 0.5vh;
}

.preferiti {
    background-color: white;
    font-size: 2vh;
    padding: 1vh 1vw;
    position: absolute;
    right: 0vw;
    top: 1vh;
}

.definition {
    text-align: left;
    margin-bottom: 3vh;
}

.brand {
    margin-top: 1vh;
    font-size: 1vh;
}

.prodotto {
    font-size: 1.5vh;
    font-weight: bolder;
    text-transform: uppercase;
}

.price span:first-child {
    color: red;
    font-weight: bolder;
    font-size: 1.5vh;
}

.price span:last-child {
    font-size: 1.5vh;
    text-decoration: line-through;
}